body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1.display-1 {
  font-size: 5rem; /* scalable with zoom */
}

@media (max-width: 576px) {
  h1.display-1 {
    font-size: 3rem;
  }
}

.header-color{
  background-color: #002569 !important;
}

.header-text{
    text-align: left;
    font-family: serif;
    font-size: 20px;
    margin-left: 10px;
}

.first-card{
  background-color: rgb(66 96 158) !important;
  box-shadow: 0 0 10px -3px gray;
}

.second-card{
    background-color: rgb(66 96 158) !important;
    box-shadow: 0 0 10px -3px gray;
}

.text-shadow{
  text-shadow: 0 11.36px 10.896px #c4b59d,0 -2px 1px #fff;
}

.update-time{
  font-family: auto;
  margin-bottom: -1rem !important;
  margin-top: 15px !important;
}

.time{
  font-size: 20px;
  font-weight: bold;
  font-family: fangsong;
}

.message {
    background: #feedb9;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    text-align: left;
}