body {
    background-color: #fff !important; 
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px);
  background: #ffffff;
  border-top: unset !important;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}

.sidebar-nav .nav-link.active {
    background: rgb(109 142 191) !important;
    color: white !important;
}

.sidebar{
  background: #DDEAF5 !important;
}

.sidebar-nav .nav-title {
    color: #004d40 !important;
    font-size: 14px;
}

.nav-link {
    color: #6e6e6e !important;
    font-family: Semi-bold;
}

.sidebar-nav .nav-link:hover {
    color: white !important;
    text-decoration: none !important;
    background: #9DB8D3 !important;
}
.sidebar-nav svg.nav-icon {
    color: #004d40;
}

.sidebar-3d {
  border-right: 1px solid transparent !important;
  box-shadow: -5px 0 15px rgba(0,0,0,0.3), -10px 0 30px rgba(0,0,0,0.2) !important;
}
.sidebar-nav .nav-icon-bullet {
    border: var(--cui-sidebar-nav-link-icon-bullet-border-width) solid #6e6e6e !important;
}


.sidebar-nav .nav-group-toggle {
    color: #2C3E50 !important;
    // font-size: 16px !important;
    font-weight: 700 !important;
   
}
.sidebar-nav .nav-group-toggle::after {
    background-color: #004d40 !important;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,0.6); /* အနားထူထူ အရိပ်ပေါ်စေ */
}

.sidebar-header {
  padding: 0 !important;
}

.sidebar-nav .nav-link.active .nav-icon-bullet {
    border: var(--cui-sidebar-nav-link-icon-bullet-border-width) solid #ffffff !important;
}
.order-active{
  background: linear-gradient(135deg, rgb(54 70 91), rgb(0 224 243)) !important;
  color: white !important;
}