// If you want to override variables do it here
@import "_variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "_theme";

// If you want to add custom CSS you can put it here
@import "_custom";
